.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  &--grey {
    background-color: #C9D1D3;
  }
  &--green {
    background-color: #42B883;
  }
  &--blue {
    background-color: #64C4ED;
  }
  &--pink {
    background-color: #FFBBCC;
  }
  &--lime {
    background-color: #B6E6BD;
  }
  &--purple {
    background-color: #C355F5;
  }
  &--black {
    background-color: #110133;
  }
  &--red {
    background-color: #FF6464;
  }
}
