.list {
  margin-bottom: 30px;
  $self: &;

  li {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, .4);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      #{$self}__remove-btn {
        opacity: 1;
      }
    }
    &.active {
      background: #FFFFFF;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    > i {
      display: inline-flex;
      margin-right: 10px;
    }

    .badge {
      position: relative;
      left: 5px;
    }
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 160px;
    }
  }
  &__add-btn {
    cursor: pointer;
    svg path {
      stroke: #868686;
    }
    span {
      color: #767676;
      font-weight: 500;
    }
    &:hover {
      svg path {
        stroke: #000000;
      }
      span {
        color: #000000;
      }
    }
  }
  &__remove-btn {
    margin-left: auto;
    opacity: 0;
    &:hover {
      fill: #000;
    }
  }
}
