.tasks {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &__title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.4;
    color: #64c4ed;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
    text-decoration: none;
    &:hover img {
      opacity: 1;
    }

    img {
      opacity: 0;
      margin-left: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: #c9d1d3;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-bottom: 15px;
      &:hover {
        i {
          background-color: #f2f2f2;
          border-color: #f2f2f2;
          &:after {
            border-color: #b3b3b3;
          }
        }
      }
      input[type="checkbox"] {
        display: none;
        &:checked + i {
          background-color: #4dd599;
          border-color: #4dd599;
          &:after {
            border-color: #fff;
          }
        }
      }
      i {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #e8e8e8;
        transition: all 0.4s ease-in-out;
        &:after {
          position: absolute;
          content: "";
          top: 2px;
          left: 6px;
          width: 5px;
          height: 10px;
          background-color: transparent;
          border-right: 0.2px solid transparent;
          border-bottom: 0.2px solid transparent;
          transform: rotate(45deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
    &_checkbox {
      display: flex;
      align-items: flex-start;
      width: 100%;
      &:hover {
        .tasks__button {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__value {
    background: none;
    border: none;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    margin-right: 10px;
  }
  &__form {
    margin-top: 20px;
    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
      img {
        margin-right: 13px;
        margin-left: 5px;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        color: #868686;
      }
    }
    &-block {
      .field {
        margin-bottom: 10px;
        padding: 6px 8px;
        font-size: 16px;
      }
      .button--gray {
        margin-left: 10px;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    button {
      background: none;
      border: none;
      cursor: pointer;
      margin: 0 4px;
      padding: 4px;
      border-radius: 50%;
      background-color: #a8a8a8;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      img {
        width: 10px;
      }
    }
  }
}
