.add-list {
  .list {
    margin-bottom: 10px;
  }
  &__popup {
    position: relative;
    width: 235px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    .button {
      width: 100%;
    }
    &-colors {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px 0;
      .badge {
        flex: 0 0 16px;
        max-width: 16px;
        height: 16px;
        cursor: pointer;
        border: 2px solid transparent;
        &.active {
          border-color: #909090;
        }
      }
    }
    &-close {
      position: absolute;
      top: -8px;
      right: -8px;
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}
