* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  box-shadow: 0 2px 20px #e7e5e5;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  &__sidebar {
    background-color: #f4f6f8;
    flex: 0 0 240px;
    max-width: 240px;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
    &-loading {
      font-size: 18px;
      margin: 20px 10px;
    }
  }
  &__tasks {
    flex: 1;
    background-color: #fff;
    padding: 60px;
    overflow-y: auto;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.15px;
  color: #000;
  width: 100%;
  &::placeholder {
    color: #c7c7c7;
  }
  &:focus {
    border-color: #c7c7c7;
  }
}

.button {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.15px;
  color: #ffffff;
  background: #4dd599;
  border-radius: 4px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: darken(#4dd599, 5%);
  }
  &:active {
    background-color: darken(#4dd599, 10%);
  }
  &:disabled {
    background-color: #d8d8d8;
    color: #444444;
  }
  &--gray {
    background-color: #f4f6f8;
    color: #9c9c9c;
    &:hover {
      background-color: darken(#f4f6f8, 5%);
    }
    &:active {
      background-color: darken(#f4f6f8, 10%);
    }
  }
}
